<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Boş Sınıf</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="header">
    <p id="gun">-</p>
    <p id="tarih">-</p>
    <p id="saat">-</p>
</div>

<div class="icerik">
    <div class="sol">
        <div class="filtreler">
            <button class="aktif" onclick="filtrele('tumu', this)">Tümü</button>
            <button onclick="filtrele('F', this)">F Blok</button>
            <button onclick="filtrele('B', this)">B Blok</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Durum</th>
                    <th>Sınıf</th>
                    <th>Saat</th>
                </tr>
            </thead>
        </table>
        <div class="tablo-wrapper">
            <table>
                <tbody id="tablo"></tbody>
            </table>
        </div>
    </div>

    <div class="sag" id="sag">
        <div class="sag-bos">
            <span>🗺️</span>
            Bir sınıfa tıkla, kat planı burada görünsün
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>